header
  position: absolute
  left: 0
  right: 0
  margin: 1em
  //background-color: red

  li
    //background-color: pink
    display: inline-block
    padding-left: 1em
    padding-right: 1em
    padding-top: .5em
    padding-bottom: .5em
    font-family: $font-main

header
  li
    a
      color: #a7c8d3
      text-decoration: none
      &:hover
        color: #ddd
