
.news
  h2
    margin: 0
    background-color: #686868
    padding: 1em
    font-family: $font-heading
    color: aquamarine
    border-top: 7px solid aqua
    text-decoration: underline

.news-sec
    font-family: $font-news
    background-color: #686868
    overflow: auto
    border-bottom: 7px solid aqua
    ul
      list-style-type: disc
      padding: 1em
      margin: 0
      line-height: 1.6em
      width: 95%
      float: right
      color: #ffd8d8
      text-decoration: underline
      li
        padding: 1em
