.button
  padding-left: 3em
  padding-right: 3em
  padding-top: 1.25em
  padding-bottom: 1.25em
  text-decoration: none
  border: 3px solid white
  color: #ddd


  &:hover
    outline: 1px solid black
    outline-offset: -2px
    background-color: white
    color: black


//desktop

@media(min-width:600px)
  .button
    color: #29383a
    border: 5px solid #29383a

    &:hover
        background-color: #adc8cc
