.home
  padding-top: 15em
  padding-bottom: 15em
  background-image: url(/img/allianz2.jpg)
  background-position: center
  background-size: cover
  color: #ba1655
  font-family: $font-heading

  h2
    padding-bottom: .5em
